#s-674bda2e-7b1a-427b-abcb-dfb807518a06 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-674bda2e-7b1a-427b-abcb-dfb807518a06 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-674bda2e-7b1a-427b-abcb-dfb807518a06 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}