#s-674bda2e-7b1a-427b-abcb-dfb807518a06 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-674bda2e-7b1a-427b-abcb-dfb807518a06 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-674bda2e-7b1a-427b-abcb-dfb807518a06 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#loadMark {
}